/* PALETA DE COLORES */
/* FONT FAMILY */
html {
  scroll-behavior: smooth !important;
}

ul {
  list-style-type: none;
  padding: 0%;
}

body {
  padding: 0%;
  margin: 0%;
  width: 100%;
  background-color: rgb(253, 253, 253);
  font-family: "Trispace", sans-serif;
}
body header {
  position: relative;
  /* MENU */
  /* FIRST VIEW */
}
body header .menu {
  z-index: 999;
  position: fixed;
  top: 0.5rem;
  right: 2.5rem;
  /* MENU HOVER */
  /* MENU ITEMS */
  /* MENU ITEMS ENUMERATED */
}
body header .menu .menu-hover, body header .menu .menu-item {
  background-color: #33dd8b;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
body header .menu .menu-hover {
  z-index: 999 !important;
  position: relative;
  right: -20rem;
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body header .menu .menu-hover:hover {
  background-color: #44e095;
}
body header .menu .menu-hover:hover p {
  font-size: 1.15rem;
}
body header .menu .menu-hover:active {
  background-color: #23d37e;
}
body header .menu .menu-hover p {
  position: relative;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0%;
  padding: 5px;
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
body header .menu .menu-hover .arrow-container {
  display: none;
  opacity: 0;
  position: relative;
  top: 20px;
}
body header .menu .menu-hover .arrow-container img {
  height: 5rem;
}
body header .menu .menu-hover .wave {
  z-index: 1;
  position: absolute;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: transparent;
  border: 4px #33dd8b solid;
}
body header .menu .menu-item-container {
  position: relative;
  top: -11.5rem;
  right: -1rem;
}
body header .menu .menu-item {
  z-index: 998 !important;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600 !important;
}
body header .menu .menu-item:hover {
  background-color: #23d37e;
  font-size: 1rem;
}
body header .menu #menu-item-1 {
  display: none;
  top: 5px;
  left: -5.7rem;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}
body header .menu #menu-item-1 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
body header .menu #menu-item-1 a span {
  display: inline-block;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}
body header .menu #menu-item-2 {
  display: none;
  top: 61px;
  left: -7.45rem;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
body header .menu #menu-item-2 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
body header .menu #menu-item-2 a span {
  display: inline-block;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}
body header .menu #menu-item-3 {
  display: none;
  top: 117px;
  left: -7rem;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}
body header .menu #menu-item-3 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
body header .menu #menu-item-3 a span {
  display: inline-block;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}
body header .menu #menu-item-4 {
  display: none;
  top: 173px;
  left: -4.6rem;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}
body header .menu #menu-item-4 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
body header .menu #menu-item-4 a span {
  display: inline-block;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}
body header .menu .shake {
  -webkit-animation: shake 0.75s infinite;
          animation: shake 0.75s infinite;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0deg);
            transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  20% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(0.5deg);
            transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }
  30% {
    -webkit-transform: translate(1.5px, 1px) rotate(0deg);
            transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(0.5deg);
            transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    -webkit-transform: translate(-0.5px, 1px) rotate(-0.5deg);
            transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(0deg);
            transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(-0.5deg);
            transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    -webkit-transform: translate(0.5px, 1px) rotate(0deg);
            transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.5px, -1px) rotate(-0.5deg);
            transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0deg);
            transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  20% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(0.5deg);
            transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }
  30% {
    -webkit-transform: translate(1.5px, 1px) rotate(0deg);
            transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(0.5deg);
            transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    -webkit-transform: translate(-0.5px, 1px) rotate(-0.5deg);
            transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(0deg);
            transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(-0.5deg);
            transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    -webkit-transform: translate(0.5px, 1px) rotate(0deg);
            transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.5px, -1px) rotate(-0.5deg);
            transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}
body header .first-view-container {
  height: 100vh;
}
body header .first-view-container .image-header-container {
  padding-top: 1rem;
}
body header .first-view-container .image-header-container img {
  height: 90vh;
  position: relative;
  left: -5rem;
  opacity: 0;
}
body header .first-view-container .text-header-container {
  position: relative;
}
body header .first-view-container .text-header-container .line {
  display: none;
  position: relative;
  top: -10rem;
  left: -23rem;
  width: 50rem;
  height: 4px;
  background-color: #33dd8b;
}
body header .first-view-container .text-header-container .ribbon {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  position: absolute;
  top: 20vh;
  left: -18rem;
  color: white;
  text-transform: uppercase;
  padding: 0.25rem 5rem;
  letter-spacing: 1px;
  border-radius: 10px 10px 0 0;
  -webkit-animation: main 250ms;
  animation: main 250ms;
}
body header .first-view-container .text-header-container .ribbon span {
  font-size: 2.5rem;
  font-weight: bold;
}
body header .first-view-container .text-header-container .ribbon i {
  position: absolute;
}
body header .first-view-container .text-header-container .ribbon i:first-child, body header .first-view-container .text-header-container .ribbon .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;
  -webkit-animation: edge 500ms;
  animation: edge 500ms;
}
body header .first-view-container .text-header-container .ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}
body header .first-view-container .text-header-container .ribbon i:nth-child(3), body header .first-view-container .text-header-container .ribbon .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #333333;
  border-left-color: transparent;
  -webkit-animation: back 600ms;
  animation: back 600ms;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body header .first-view-container .text-header-container .ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #333333;
  border-right-color: transparent;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
body header .first-view-container .text-header-container p {
  display: none;
  color: #333333;
  font-size: 4rem;
  font-weight: bold;
}
body header .first-view-container .text-header-container p:nth-of-type(2) {
  margin-left: 10rem !important;
}
body header .first-view-container .text-header-container div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 11rem !important;
}
body header .first-view-container .text-header-container div b {
  display: none;
  font-size: 1rem;
  color: #333333;
}
body header .first-view-container .text-header-container div img {
  display: none;
  position: absolute;
  right: 4rem;
  bottom: -0.3rem;
  height: 4rem;
}
body header .first-view-container .header-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 75vh;
  left: -1.5rem;
}
body header .first-view-container .header-social-media li {
  display: none;
  position: relative;
}
body header .first-view-container .header-social-media li .tool {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -4rem;
  left: -14.2rem;
  width: 200px !important;
  border-radius: 10px;
  text-align: center;
  background-color: #333333;
  color: #33dd8b;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
body header .first-view-container .header-social-media li .tool::before {
  content: "";
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  top: 2.5rem;
  border: 20px solid transparent;
  border-top-color: #333333;
}
body header .first-view-container .header-social-media li a {
  display: inline-block;
  padding: 1rem;
  background-color: #333333;
  border-radius: 50%;
  margin-right: 1rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
body header .first-view-container .header-social-media li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
body header .first-view-container .header-social-media li a:hover .tool, body header .first-view-container .header-social-media li a .tool::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
body header .first-view-container .header-social-media li:last-of-type a {
  padding: 1.4rem;
}
body header .semicircleHeader {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 100vh;
  background-color: #33dd8b;
  height: 10vh;
  width: 100%;
  border-radius: 500px 500px 0 0;
}
body main #skillSet {
  height: 100vh;
}
body main #skillSet .semicircleSkill {
  opacity: 1;
  display: inline-block;
  background-color: #33dd8b;
  height: 10vh;
  width: 100%;
  border-radius: 0 0 500px 500px;
}
body main #skillSet .semicircleSkill span {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
body main #skillSet .skillSet-container {
  height: 90vh;
  width: 100%;
  padding: 3rem;
}
body main #skillSet .skillSet-container ul {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 1rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.246);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.246);
}
body main #skillSet .skillSet-container ul:hover {
  background-color: #fdfdfd;
}
body main #skillSet .skillSet-container ul:hover .skillSet-text {
  font-size: 5.5rem;
}
body main #skillSet .skillSet-container ul > div {
  position: relative;
}
body main #skillSet .skillSet-container ul > div .skill-card {
  z-index: 2;
  position: absolute;
}
body main #skillSet .skillSet-container ul > div .skill-card div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
body main #skillSet .skillSet-container ul > div .skill-card img {
  height: 72vh;
}
body main #skillSet .skillSet-container ul > div .skill-card .front {
  -webkit-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
}
body main #skillSet .skillSet-container ul > div .skill-card .back {
  -webkit-transform: perspective(1000px) rotateY(180deg);
          transform: perspective(1000px) rotateY(180deg);
}
body main #skillSet .skillSet-container ul > div .skillSet-text {
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 30%;
  color: #333333;
  font-weight: bold;
  font-size: 5rem;
  margin-left: 0rem;
  width: 65%;
  text-align: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}