/* PALETA DE COLORES */
/* FONT FAMILY */
html {
  scroll-behavior: smooth !important;
}

ul {
  list-style-type: none;
  padding: 0%;
}

body {
  padding: 0%;
  margin: 0%;
  width: 100%;
  background-color: rgb(253, 253, 253);
  font-family: "Trispace", sans-serif;
}

header {
  position: relative;
  /* MENU */
  /* FIRST VIEW */
}
header .menu {
  z-index: 999;
  position: fixed;
  top: 0.5rem;
  right: 2.5rem;
  /* MENU HOVER */
  /* MENU ITEMS */
  /* MENU ITEMS ENUMERATED */
}
header .menu .menu-hover, header .menu .menu-item {
  background-color: #33dd8b;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
header .menu .menu-hover {
  z-index: 999 !important;
  position: relative;
  right: -20rem;
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px white solid;
}
header .menu .menu-hover:hover {
  background-color: #44e095;
}
header .menu .menu-hover:hover p {
  font-size: 1.15rem;
}
header .menu .menu-hover:active {
  background-color: #23d37e;
}
header .menu .menu-hover p {
  position: relative;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0%;
  padding: 5px;
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
header .menu .menu-hover .arrow-container {
  display: none;
  opacity: 0;
  position: relative;
  top: 20px;
}
header .menu .menu-hover .arrow-container img {
  height: 5rem;
}
header .menu .menu-hover .wave {
  z-index: 1;
  position: absolute;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: transparent;
  border: 4px #33dd8b solid;
}
header .menu .menu-item-container {
  position: relative;
  top: -11.5rem;
  right: -1rem;
}
header .menu .menu-item {
  z-index: 998 !important;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600 !important;
  border: 1px white solid;
}
header .menu .menu-item:hover {
  background-color: #23d37e;
  font-size: 1rem;
}
header .menu #menu-item-1 {
  display: none;
  top: 5px;
  left: -5.7rem;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}
header .menu #menu-item-1 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-1 a span {
  display: inline-block;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}
header .menu #menu-item-2 {
  display: none;
  top: 61px;
  left: -7.45rem;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
header .menu #menu-item-2 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-2 a span {
  display: inline-block;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}
header .menu #menu-item-3 {
  display: none;
  top: 117px;
  left: -7rem;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}
header .menu #menu-item-3 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-3 a span {
  display: inline-block;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}
header .menu #menu-item-4 {
  display: none;
  top: 173px;
  left: -4.6rem;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}
header .menu #menu-item-4 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-4 a span {
  display: inline-block;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}
header .menu .shake {
  -webkit-animation: shake 0.75s infinite;
          animation: shake 0.75s infinite;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0deg);
            transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  20% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(0.5deg);
            transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }
  30% {
    -webkit-transform: translate(1.5px, 1px) rotate(0deg);
            transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(0.5deg);
            transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    -webkit-transform: translate(-0.5px, 1px) rotate(-0.5deg);
            transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(0deg);
            transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(-0.5deg);
            transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    -webkit-transform: translate(0.5px, 1px) rotate(0deg);
            transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.5px, -1px) rotate(-0.5deg);
            transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0deg);
            transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  20% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(0.5deg);
            transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }
  30% {
    -webkit-transform: translate(1.5px, 1px) rotate(0deg);
            transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(0.5deg);
            transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    -webkit-transform: translate(-0.5px, 1px) rotate(-0.5deg);
            transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(0deg);
            transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(-0.5deg);
            transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(0.5deg);
            transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    -webkit-transform: translate(0.5px, 1px) rotate(0deg);
            transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.5px, -1px) rotate(-0.5deg);
            transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}
header .first-view-container {
  height: 100vh;
}
header .first-view-container .image-header-container {
  padding-top: 1rem;
}
header .first-view-container .image-header-container img {
  height: 90vh;
  position: relative;
  left: -5rem;
  opacity: 0;
}
header .first-view-container .text-header-container {
  position: relative;
}
header .first-view-container .text-header-container .line {
  display: none;
  position: relative;
  top: -10rem;
  left: -23rem;
  width: 50rem;
  height: 4px;
  background-color: #33dd8b;
}
header .first-view-container .text-header-container .ribbon {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  position: absolute;
  top: 20vh;
  left: -18rem;
  color: white;
  text-transform: uppercase;
  padding: 0.25rem 5rem;
  letter-spacing: 1px;
  border-radius: 10px 10px 0 0;
  -webkit-animation: main 250ms;
  animation: main 250ms;
}
header .first-view-container .text-header-container .ribbon span {
  font-size: 2.5rem;
  font-weight: bold;
}
header .first-view-container .text-header-container .ribbon i {
  position: absolute;
}
header .first-view-container .text-header-container .ribbon i:first-child, header .first-view-container .text-header-container .ribbon .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;
  -webkit-animation: edge 500ms;
  animation: edge 500ms;
}
header .first-view-container .text-header-container .ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}
header .first-view-container .text-header-container .ribbon i:nth-child(3), header .first-view-container .text-header-container .ribbon .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #333333;
  border-left-color: transparent;
  -webkit-animation: back 600ms;
  animation: back 600ms;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
header .first-view-container .text-header-container .ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #333333;
  border-right-color: transparent;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
header .first-view-container .text-header-container p {
  display: none;
  color: #333333;
  font-size: 4rem;
  font-weight: bold;
}
header .first-view-container .text-header-container p:nth-of-type(2) {
  margin-left: 10rem !important;
}
header .first-view-container .text-header-container div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 11rem !important;
}
header .first-view-container .text-header-container div b {
  display: none;
  font-size: 1rem;
  color: #333333;
}
header .first-view-container .text-header-container div img {
  display: none;
  position: absolute;
  right: 4rem;
  bottom: -0.3rem;
  height: 4rem;
}
header .first-view-container .header-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 75vh;
  left: -1.5rem;
}
header .first-view-container .header-social-media li {
  display: none;
  position: relative;
}
header .first-view-container .header-social-media li .tool {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -4rem;
  left: -14.2rem;
  width: 200px !important;
  border-radius: 10px;
  text-align: center;
  background-color: #333333;
  color: #33dd8b;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
header .first-view-container .header-social-media li .tool::before {
  content: "";
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  top: 2.5rem;
  border: 20px solid transparent;
  border-top-color: #333333;
}
header .first-view-container .header-social-media li a {
  display: inline-block;
  padding: 1rem;
  background-color: #333333;
  border-radius: 50%;
  margin-right: 1rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
header .first-view-container .header-social-media li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
header .first-view-container .header-social-media li a:hover .tool, header .first-view-container .header-social-media li a .tool::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
header .first-view-container .header-social-media li:last-of-type a {
  padding: 1.4rem;
}
header .semicircleHeader {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 100vh;
  background-color: #33dd8b;
  height: 10vh;
  width: 100%;
  border-radius: 500px 500px 0 0;
}

main #skillSet {
  height: 100vh;
}
main #skillSet .semicircleSkill {
  opacity: 1;
  display: inline-block;
  background-color: #33dd8b;
  height: 10vh;
  width: 100%;
  border-radius: 0 0 500px 500px;
}
main #skillSet .semicircleSkill span {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
main #skillSet .skillSet-container {
  height: 90vh;
  width: 100%;
  padding: 3rem;
  overflow-x: hidden;
}
main #skillSet .skillSet-container .skill-card {
  z-index: 2;
  position: relative;
  padding-left: 1rem;
}
main #skillSet .skillSet-container .skill-card div {
  position: absolute;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
main #skillSet .skillSet-container .skill-card img {
  height: 72vh;
  position: relative;
}
main #skillSet .skillSet-container .skill-card .front {
  -webkit-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
}
main #skillSet .skillSet-container .skill-card .back {
  -webkit-transform: perspective(1000px) rotateY(180deg);
          transform: perspective(1000px) rotateY(180deg);
}
main #skillSet .skillSet-container ul {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 1rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.246);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.246);
  overflow: auto;
  position: relative;
}
main #skillSet .skillSet-container ul:hover {
  background-color: #fdfdfd;
}
main #skillSet .skillSet-container ul:hover .skillSet-text {
  font-size: 5.5rem;
}
main #skillSet .skillSet-container ul > div {
  position: relative;
}
main #skillSet .skillSet-container ul > div .skillSet-text {
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 30%;
  color: #333333;
  font-weight: bold;
  font-size: 5rem;
  margin-left: 0rem;
  width: 65%;
  height: 20rem;
  text-align: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
main #skillSet .skillSet-container ul > div .skillSet-text + img {
  position: absolute;
  top: 2rem;
  left: 40%;
  height: 30rem;
}
main #skillSet .skillSet-container ul .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  padding: 0;
  margin: 0 12px;
  height: 5.6rem;
  width: 5.6rem;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type:hover::before {
  height: 10rem;
  width: 10rem;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type:hover span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
main #skillSet .skillSet-container ul .skill > div:first-of-type::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -1rem;
  background-color: #333333;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type img {
  display: none;
  height: 5rem;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type span {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
main #skillSet .skillSet-container ul .skill .skill-bar-container {
  opacity: 0;
  padding: 3px;
  border: 3px #33dd8b solid;
  border-radius: 50px;
  height: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
main #skillSet .skillSet-container ul .skill .skill-bar-container .skill-bar {
  background-color: #333333;
  height: 100%;
  width: 0%;
  border-radius: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
main #skillSet .skillSet-container ul li:nth-of-type(3) img {
  height: 4rem !important;
}
main #skillSet .skillSet-container ul li:nth-of-type(4) img {
  margin-top: 3px !important;
}
main #skillSet .skillSet-container ul li:nth-of-type(7) img {
  height: 5.5rem !important;
}
main #portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
main #portfolio > span {
  color: #333333;
  font-weight: bold;
  font-size: 4rem;
}
main #portfolio #find-container {
  width: 100%;
  background-color: #333333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
  margin: 0%;
}
main #portfolio #find-container .select p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
main #portfolio #find-container .select .options {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
main #portfolio #find-container .select .options #show-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}
main #portfolio #find-container .select .options #show-skills input {
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
main #portfolio #find-container .select .options #show-skills input:focus {
  background-image: url("../img/switch.png") !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 221, 139, 0.4509803922);
          box-shadow: 0 0 0 0.2rem rgba(51, 221, 139, 0.4509803922);
  border: 1px #33dd8b solid !important;
}
main #portfolio #find-container .select .options #show-skills input:checked {
  background-image: url("../img/switch-checked.png") !important;
  background-color: #33dd8b !important;
  border: 1px #33dd8b solid !important;
}
main #portfolio #find-container .select .options #show-skills label {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
main #portfolio #find-container .select .select-skills {
  height: 11rem;
  width: 70%;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem;
  cursor: default;
}
main #portfolio #find-container .select .select-skills button {
  display: inline-block;
  color: #333333;
  font-weight: bold;
  background-color: #33dd8b;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: 0px;
  margin: 0.1rem 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
main #portfolio #find-container .select .select-skills button:hover {
  background-color: #49e197;
  cursor: pointer;
}
main #portfolio #find-container .select .select-skills .selected-skill {
  background-color: #333333;
  color: #33dd8b;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
main #portfolio #find-container .select .select-skills .selected-skill:hover {
  background-color: #404040;
  cursor: pointer;
}
main #portfolio #find-container .find p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
main #portfolio #find-container .find .search-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
main #portfolio #find-container .find .search-skills-container .search-skills {
  border: 1px grey solid;
  padding: 0.5rem 0.75rem 0.45rem 0.5rem;
  border: 0px transparent solid;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
}
main #portfolio #find-container .find .search-skills-container .search-skills:focus {
  outline: none !important;
  outline-color: none !important;
  outline-style: none !important;
  outline-width: 0 !important;
  border-left: 0px transparent solid;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 221, 139, 0.4509803922);
          box-shadow: 0 0 0 0.2rem rgba(51, 221, 139, 0.4509803922);
}
main #portfolio #find-container .find .search-skills-container button {
  display: inline-block;
  background-color: #23d37e;
  padding: 0.5rem;
  height: 100%;
  color: #333333;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border: none;
}
main #portfolio #find-container .find .search-skills-container button:hover {
  background-color: #49e197;
  cursor: pointer;
}
main #portfolio #find-container .find .search-skills-container #blank {
  color: #333333;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #23d37e;
  padding: 0.35rem;
  border-radius: 5px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  margin-left: 1rem;
  border: none;
}
main #portfolio #find-container .find .search-skills-container #blank:hover {
  background-color: #49e197;
  cursor: pointer;
}
main #portfolio #find-container .find .selected-skills {
  height: 11rem;
  max-height: 11rem;
  width: 70%;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem;
  cursor: default;
}
main #portfolio #find-container .find .selected-skills button {
  display: inline-block;
  opacity: 0;
  color: #333333;
  font-weight: bold;
  background-color: #33dd8b;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: 0px;
  margin: 0.1rem 0.1rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
main #portfolio #find-container .find .selected-skills button:hover {
  background-color: #49e197;
  cursor: pointer;
}
main #portfolio #projects {
  height: 100vh;
  background-color: #33dd8b;
}