/* PALETA DE COLORES */
$principal: #33dd8b;
$principal-deg: linear-gradient(to bottom, $principal,darken($principal,4));
$background: rgb(253, 253, 253);
/* FONT FAMILY */
$font:'Trispace', sans-serif;