main {
  height: 100dvh;
  width: 100vw;
}
.element {
  width: 100px;
  height: 100px;
}
.background {
  height: 30dvh;
  width: 0vw;
  background-color: black;
}
.top-gradient{
  opacity: 0;
  mask-image: linear-gradient(to right,black, transparent);
  background-image: linear-gradient(var(--color-primary), transparent);
}
.bottom-gradient{
  opacity: 0;
  mask-image: linear-gradient(to left,black, transparent);
  background-image: linear-gradient(to top, var(--color-primary), transparent);
}